{% extends "base-student.html" %} {% block main %}
<body>
    <div class='container'>
        <div class='row'>
            <div class="col-md-2" style="padding:80px 0;">
                <p style="font-size:20px">在线学习：数据结构</p>
                <p style="font-size:16px">严蔚敏</p>
                
            </div>
            <div class="col-md-6" >
                <embed height="415" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="aid=6239731&page=1" 
                pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 " >
                <p style="font-size:16px">更多课程敬请期待。。</p>
                
            </div>
        </div>
    </div>
</body>
{% endblock %}