{% extends "base.html" %} {% block main %}
<body>
  <div class='container'>
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
   
    <form action="/message/course/{{course_id}}" method="post">
      <legend>发送班级通知:</legend>
      
      
      <p>课程编号：<legend>{{course_id}}</legend></p>
     
      <p>通知    ：<input name="text" placeholder="Text" type="text" size='50' value=''></p>
  
      <p><button class="btn btn-primary" type="submit">发送</button></p>
    </form>
  </div>
</body>

{% endblock %}
