{% extends "base.html" %} {% block main %}
<body>
    <div class="container">
    <h3>项目名称：教学管理系统</h3>
    <h4>课程名称：数据结构与算法基础</h4>
    <h4>指导老师：马秀丽</h4>
    <h4>项目成员：廖黄炜(组长)邓小宝 温霖 李凡 张健毅</h4>
    <h4>项目分工：廖黄炜(组长) (Java软件编程) 邓小宝 (测试页面，软件;前端页面，软件GUI设计) 温霖 (设计数据库与数据表;添加随机数据) 李凡 (python web 编程;测试sql语句) 张健毅 (测试页面，软件;撰写报告等文案)</h4>
    <h4>项目要求：</h4>
    <h5>(1)掌握数据结构的输入/输出；</h5> 
    <h5>(2)设计并实现涉及教与学活动过程中的相关多功能算法；其中，包括但不限于如下主要功能：</h5>
    <h6>(1)教师授课、作业批改，答疑/辅导、学生考勤记录、平时成绩管理等；学生各科成绩及其有无不良记录、获奖、竞赛、学术交流情况等；</h6>
    <h6>(2)经手机或邮件等不同通信方式、手段，可将学校/院相关教学活动及时通知与告知教师与学生；</h6>
    <h6>(3)根据教师、学生成绩信息，模糊查找与精确查找，并显示所查找条目的相关内容；</h6>
    <h6>(4)教师、学生信息的有序排列(如按课程排序、教师授课效果评价排序、学习绩点排序、不良记录严重程度排序等)；</h6>
    <h6>(5)同一门课程的任课教师不少于3人，学生人数不少于70。</h6>

        
    </div>
</body>
{% endblock %}