<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="teaching system">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    
</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    
                    
                    <li><a href="/about">关于项目</a></li>
                    <li><a href="/help">帮助中心</a></li>
                    
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    {%if session.num_not_read==0%}
                    <li><a href="/allmessage" ><span class="glyphicon glyphicon-comment"></a></li>
                    {%else%}
                    <li><a href="/allmessage" style="color:red"><span class="glyphicon glyphicon-comment">&nbsp;{{session.num_not_read}}</a></li>
                    {%endif%}
                </ul>
                {% if signin[0]=='true' %}
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href="/">您好！{{signin[1]}}</a></li>
                        <li><a href="/signout"><span class="glyphicon glyphicon-log-out">&nbsp;退出登录</a></li>
                    
                    </ul>
                {% endif %}
                {% if signin[0]=='false' %}
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登录</a></li>
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;注册</a></li>
                        
                    
                    </ul>
                {% endif %}
                    
                
                </ul>
            </nav>
        </div>
    </header>
     <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-20px 0 20px 0;">
        <div class="container">
            <h1 style="color:#fff; font-size:40px">Welcome to Teaching Management System</h1>
            <p style="font-size:20px; line-height:28px">令公桃李满天下，何用堂前更种花</p>
        </div>
        
    </div>
     <nav>
         
                <ul class="nav nav-pills nav-stacked navbar-left">
                    <li><a href="/teacher/index">教师首页</a></li>
                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        日常教学 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/teacher/allcourse">所授课程</a></li>
                            <li><a href="/teacher/absence">记录缺勤</a></li>
                            <li><a href="/email">联系学生</a></li>
                            <li><a href="/message">发布通知</a><li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        竞赛活动 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/competiton">竞赛活动</a></li>
                            <li><a href="/teacher/seminar/{{session['username']}}">主持研讨</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        信息查询 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/find-seminar-form">查询研讨</a></li>
                            <li><a href="/find-reward-form">查询奖项</a></li>
                            <li><a href="/find-teacher-form">查询教师</a></li>
                            <li><a href="/find-student-form">查询学生</a></li>
                            <li><a href="/find-course-form">查询课程</a></li>
                        </ul>
                    </li>
                                     
                    <li><a href="/allmessage">我的消息</a></li>
                                       
                    <li><a href="/help">帮助中心</a></li>
                    <li><a href="/feedback">意见反馈</a></li>
                    
                </ul>
            </nav>
    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a target="_blank" href="/">Website</a> - 
                <a target="_blank" href="https://github.com/ljgibbslf">GitHub</a>(li fan)-
                <a target="_blank" href="https://github.com/Harwy">GitHub</a> (liang h.w.) 
                
            </p>
            <p>This Website is managed by group</p>
            <p>Code licensed <a target="_blank" href="https://github.com/michaelliao/learn-javascript/blob/master/LICENSE">Apache</a>.</p>
        </div>
    </footer>
</body>

</html>