{% extends "base.html" %} {% block main %}
<body>
    <div class='container'>
        
      <h1 style="font-style:italic">Working on the teaching project!!（借用一下帮助中心）</h1>
      <h2>工作计划：第三周上交课程实施方案，第七周上交实验报告，第九周验收</h2>
      <h4>组长：廖黄炜</h4>
      <h3><a href="./email">完成进度：邮件功能(50%)</a></h3>
      <h3><a href="./signin">完成进度：登录&注册功能(50%)</a></h3>
      <h4><a href="./teacher/index">教师首页</a>
      <h4><a href="./student/index">学生首页</a>
      <h3>完成进度：数据表设计(50%)</h3>
      <h3>完成进度：网络框架(50%)</h3>
      <h3>完成进度：简单查询(80%)</h3>
      <h4><a href="./find/allstudent">完成进度：所有学生查询(80%)</a>
      <h4><a href="./find/allteacher">完成进度：所有老师查询(80%)</a>
      <h4><a href="./find/allcourse">完成进度：所有课程查询(80%)</a>
      <h4><a href="./find/allreward">完成进度：所有奖项查询(80%)</a>
      <h4><a href="./find/allseminar">完成进度：所有研讨查询(80%)</a>
      <h3>完成进度：模糊，参数查询(70%)</h3>
      <h4><a href="./find-student-form">完成进度：学生参数查询(70%)</a>
      <h4><a href="./find-teacher-form">完成进度：老师参数查询(80%)</a>
      <h4><a href="./find-course-form">完成进度：课程参数查询(80%)</a>
      <h4><a href="./find-reward-form">完成进度：奖项参数查询(80%)</a>
      <h4><a href="./find-seminar-form">完成进度：研讨参数查询(80%)</a>
      <h3>完成进度：执行数据库(30%)</h3>
      <h3>完成进度：美化页面(20%)</h3>
      <h4><a href="http://www.runoob.com/try/bootstrap/layoutit/#"></a>
      <h3>完成进度：瞎编或者找些数据(0%)</h3>
      <h3>完成进度：测试&第八个(0%)</h3>
      <h3>完成进度：规范命名&文档(0%)</h3>
      <h3>完成进度：报告(0%)</a></h3>
      <h3><a href="mailto:15201710458@163.com">联系作者</a></h3>
    </div>
</body>
{% endblock %}