<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>404错误了</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
   
</head>

<body>
    
    <header class="navbar navbar-static-top">
        <div class="container" >
            <div class="navbar-header">
                <a href="/" class="navbar-brand">首页</a>
            </div>
            
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/find/allStudent">所有学生</a></li>
                    <li><a href="/find/allTeacher">所有教师</a></li>
                    <li><a href="/find/allCourse">所有课程</a></li>
                    <li><a href="/help">帮助中心</a></li>
                                        
                
            </nav>
            

        </div>
    </header>
    <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-20px 0 20px 0;">
        <div class="container ">
            
            <h1 style="color:#fff; font-size:60px">Welcome to Teaching Management System</h1>
            <p style="font-size:24px; line-height:48px">教学管理系统</p>
            
        </div>

    </div>
    <a href="/"><h3>少年，你要找的页面不存在</h3></a>
    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a target="_blank" href="/">Website</a> - 
                <a target="_blank" href="https://github.com/ljgibbslf">GitHub</a>  
                
            </p>
            <p>This Website is managed by group</p>
            <p>Code licensed <a target="_blank" href="https://github.com/michaelliao/learn-javascript/blob/master/LICENSE">Apache</a>.</p>
        </div>
    </footer>
</body>

</html>

  
   
    

